.page-not-found {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background: #fff;
    box-shadow: 0 -6px 8px 0 #EAEAEA;
  }
}